<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Auktioner </h1>
        </div>
        <table class="table table-hover">
            <tbody ng-repeat="auction in auctions | limitAuctions:limitByCategory:limitBySearch | completedAuctions:compAuctions">
                    <tr class="hover" ng-click="goToAuctionPage(auction.id)">
                        <td><img ng-src="{{ auction.imageUrl }}" class="img-thumbnail"></td>
                        <td><h3>{{ auction.name }}</h3></td>

                    </tr>
            </tbody>
        </table>
    </div>
</div>