<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ auction.name }} </h3>
        </div>
        <div class="panel-body">

            <table>
                <tr>
                    <td class="auctiondetails">
                        <img ng-src="{{auction.imageUrl}}" class="img-rounded" alt="descirption" style="width:220px;">
                    </td>
                    <td class="auctiondetails">Beskrivning: {{auction.description}}<br>
                        Startar: {{ auction.startTime | date:"yyyy-MM-dd HH:mm" }}<br>
                        Slutar: {{auction.endTime | date:"yyyy-MM-dd HH:mm" }} <br>
                        <div style="margin: 10px">
                            <a class="btn btn-primary" ng-click="showSupplier()">Visa leverantör</a>
                        </div>
                    </td>
                    <td class="auctiondetails">
                        <p> Aktuell bud: <span>{{auction.bidPrice}} kr</span>
                        </p><input type="text" name="bud" ng-model="newPrice"> <br>
                        <div style="margin: 5px">
                            <button type="submit" class="btn btn-primary" ng-click="bid(newPrice)" ng-disabled="validateBid()" value="Lägg bud">Lägg bud</button>
                            <button type="submit" class="btn btn-primary" ng-click="bid(auction.buyNowPrice)" value="Köp nu">Köp nu: {{auction.buyNowPrice}} kr</button>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="showError">Ogiltigt bud</div>
                    </td>
                    <td class="auctiondetails">
                        <p>Budhistorik:</p>
                        <ul style="list-style-type:none">
                            <li ng-repeat="bid in bids | orderBy:'-bidPrice'">{{ bid.bidPrice }} kr ({{ bid.dateTime | date:'yyyy-MM-dd HH:mm' }})</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <!--<table>
            <tr>
                <th>
                    <img ng-src="{{auction.imageUrl}}" class="img-rounded" alt="descirption" style="width:150px;">
                </th>
            </tr>
            <tr>
                <td>{{auction.description}}</td>
            </tr>
            <tr>
                <td>{{auction.buyNowPrice}} SEK</td>
            </tr>
            <tr>
                <td> {{auction.startTime}}</td>
            </tr>
            <tr>
                <td> {{auction.endTime}}</td>
            </tr>
            </table>-->

        </div>
    </div>
</div>