footer {
    margin-top: 20px;
}

body {
    padding-top: 70px;
}

.product {
    display: block;
    list-style: none;
    width: 25%;
    float: left;
    padding: 10px;
    font-weight: bold;
}

.product img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.auctiondetails{
 padding: 15px;
 
}

.img-thumbnail{
    width: 200px;
    height: 200px;
}

  